body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #444;
}

header {
	text-align: center;
}

h1 {
	display: inline-block;
}

button {
	font-size: 1.5rem;
	margin-left: 2rem;
}

main {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	height: 70vh;
	width: 70vh;
	background-color: rgb(248, 72, 72);
	padding: 3rem;
	border-radius: 10px;
	margin: 0 auto;
}

main div {
	background-color: #999;
	width: 100%;
}

main div.colored {
	background-color: #666;
}


