@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #444;
}

header {
	text-align: center;
}

h1 {
	font-family: 'Niconne', cursive;
	text-align: center;
	color: gold;
	font-weight: 100;
	font-size: 4rem;
	margin: .25rem 0 .75rem;
}

.button-dials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
button {
	font-size: 1rem;
	margin: 0;
	border-radius: 50%;
	background-color: white;
	width: 70px;
	height: 70px;
}

button:focus {
	outline: none;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

main {
	margin: 0 auto;
	width: 60vh;
	background-color: rgb(248, 72, 72);
	padding: 1rem 4rem 1rem;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, .2);
}

.shake {
	animation-name: shake;
	animation-duration: 1s;
}

#etch-screen {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	height: 60vh;
	margin: 0 auto 1rem;
	background-color: #999;
}

#etch-screen div {
	background-color: #999;
	width: 100%;
}

#etch-screen div.colored {
	background-color: #666;
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 2rem;
	}
	main {
		width: 70vw;
		padding: .8rem 3rem .8rem;
	}
	#etch-screen {
		height: 70vw;
	}
}


/* Animations */
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
